<div class="grid-container">
    <h1>Ver Usuarios</h1>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
       <table id="userTable" class="mTable">
           <thead >
               <th>id</th>
               <th>Nombre</th>
               <th>Apellido</th>
               <th>Cedula</th>
               <th>Edad</th>
               <th>Email</th>
               <th>Password</th>
               <th>Acciones</th>
           </thead>
           <tbody>
                <tr *ngFor="let usuario of users">
                    <td> {{usuario.id}}</td>
                    <td> {{usuario.nombre}}</td>
                    <td> {{usuario.apellido}}</td>
                    <td> {{usuario.cedula}}</td>
                    <td> {{usuario.edad}}</td>
                    <td> {{usuario.email}}</td>
                    <td> {{usuario.password}}</td>
                    <td> 
                        <a href="#" class="icon-button blue step fi-eye size-36"></a>
                        <a href="#" class="icon-button gray step fi-pencil size-36"></a>
                        <Button  class="icon-button red step fi-trash size-36" 
                            data-open="modal_delete_user">
                        </Button>
                    </td>
                </tr>
            </tbody>
       </table>
      </div>
    </div>
</div>
<div class="reveal" id="modal_delete_user" data-reveal>
    <p class="lead">¿Esta seguro de borrar este usuario?</p>
    <div class="grid-x grid-padding-x">
        <button class ="modal-button button">ACEPTAR</button>
        <button onClick="$('#modal_delete_user').foundation('close')" class ="modal-button alert button">CANCELAR</button>
    </div>
</div>
