<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell"> 
            <div class="form-container">
                <form class="register-form" action="#" onsubmit="return createUser(event)">
                    <h4>Crear Usuario</h4>
                    <label>Nombre:
                        <input id=uNombre type="text" placeholder="Nombre" required=true>
                    </label>
                    <label>Apellido:
                        <input id=uApellido type="text" placeholder="Apellido" required=true>
                    </label>
                    <label>Cedula:
                        <input id=uCedula type="number" placeholder="Cedula" required="true">
                    </label>
                    <label>Edad:
                        <input id=uEdad type="number" placeholder="Edad" required=true>
                    </label>
                    <label>Email:
                        <input id=uEmail type="email" placeholder="emaily@example.com" required="true">
                    </label>
                   <label>Password:
                        <input id=uPassword type="password" placeholder="Password" required="true">
                    </label>
                    <p><input type="submit" class="button" value="Registrar"></p>
                </form>
            </div>
        </div>
    </div>
</div>
